.main-container {
  margin-inline: 24px;
}

@media screen and (min-width: 768px) {
  .main-container {
    margin-inline: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .main-container {
    margin-inline: 72px;
  }
}